* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #ffffff;;
	font-family: "wf_SegoeUI","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
}

nav {
	margin: 10px auto 0;
	width: 990px;
	height: 25px;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
}

nav a {
			padding: 0 0 0 0;
			width: 150px;
			height: 25px;
			font-size: 1.5em;
			line-height: 25px;
			text-decoration: none;
			color: #000000;
			display: inline-block;
}

nav a:hover {
	background-color: #89ee4e;
}

#game {
    width: 950px;
    margin: 20px auto 20px;
	padding: 20px;
	background-color: #fbfaf8;
}

#board {
	background: url("board.svg");
	background-size: 630px 700px;
	height: 700px;
	width: 630px;
    float: right;
}

#controls {
	margin: 0 650px 0 0;
    height: 700px;
}

.shadow {
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
}

.player_info {
	width: 300px;
	height: 200px;
}

.player_header {
	padding: 0 0 0 0;
	width: 300px;
	height: 50px;
}

.player_name {
	padding: 0 0 0 20px;
	height: 30px;
	width: 180px;
	line-height: 30px;
	font-size: 24px;
	float: left;
}

.player_elo {
	padding: 0 0 0 20px;
	height: 20px;
	width: 180px;
	line-height: 20px;
	font-size: 16px;
	color: #807f7e;
	float: left;
}

#turn {
    height: 100px;
    font-size: 1.5em;
    text-align: center;
	float: left;
	width: 100%;
}

#status {
	float: left;
	width: 50%;
	height: 100px;
}

.clock_header {
	width: 100%;
	height: 50%;
	text-decoration: underline;
}

#red {
	float: left;
}

#black {
	float: right;
}

.clock {
	height: 50px;
	width: 100px;
	text-align: center;
	line-height: 50px;
	font-size: 32px;
	float: right;
}

#record {
	height: 300px;
	width: 300px;
	background-color: #ddddff;
	overflow: auto;
}

#record table {
	width: 100%;
	font-size: 1.2em;
	border-spacing: 0;
}

#record table td {
	padding: 0 10px;
}

.record_dark {
	background-color: #aaaacc;
}

.captured {
	height:110px;
	width: 100%;
	padding: 20px 0;
}

.captured img {
	margin: 2px 4px;
}

.board_space {
	width: 64px;
	height: 64px;
	padding: 3px;
	float: right;
}

.occupied:hover {
	background-color: rgba(0, 0, 255, .9);
	cursor: pointer;
}

.valid_move {
	background-color: rgba(100, 255, 100, .9);
    cursor: pointer;
}

.valid_move:hover {
	background-color: rgba(0, 255, 0, .9);
}

.selected {
	background-color: rgba(100, 100, 255, .9);
}
	